<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coder.nosandroid.niceosandroid" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".nosdemo.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pm25volley.PM25Activity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            />
        <activity android:name=".slipindexdemo.SlipIndicatorActivity"/>
        <activity android:name=".observiewdemo.ObserViewActivity"/>
        <activity android:name=".hellochart.HelloChartActivity"
            android:screenOrientation="landscape">
        </activity>
        <activity android:name=".mpandroidchart.MPChartActivity"/>
        <activity android:name=".mpandroidchart.MPChartMoveXActivity"/>
        <activity android:name=".drawableLayoutdemo.DrawableActivity"/>
        <activity android:name=".picturewall.PictureWallActivity"/>
        <activity android:name=".picturewall.PictureDetailActivity"/>
        <activity android:name=".hwtestdemo.HWTestDemo"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".hwtestdemo.HWTestDetail"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".hwtestdemo.HWTestResultList"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>
